@{
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="~/Styles/styleNav.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="first">
            <p><strong>What Can I Cook?</strong></p>
            @* <a href="Home.html">Home</a>*@

            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
            @Html.ActionLink("Account", "Account", "Home", new { area = "" }, new { @class = "nav-link" })
            @Html.ActionLink("Favorites", "Favorites", "Home", new { area = "" }, new { @class = "nav-link" })
        </div>
        <div class="second">
            @{
                if (isLoggedIn)
                {
                    <p> @Html.Label("Hi, " + @WebApplication1.Controllers.AccountController.userModel.FirstName + "!", new { @class = "label-style" })</p>
              
                    @Html.ActionLink("Sign Out", "Login", "Account", new { area = "" }, new { @class = "nav-link" })
                }

            }
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
