@model WhatCanICook.Models.UserViewModel

@{
    ViewBag.Title = "AccountInfo";

    
}
<!DOCTYPE html>
<html>
<head>
    <title>What Can I Cook?</title>
    <link href="~/Styles/styleAccoutPage.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="account-details">
        <h3>Your details: </h3>

        <div class="details">
            <strong>Complete Name:</strong>
            @* @Html.Label(@user.FirstName + " " + @user.LastName)*@
            @WebApplication1.Controllers.AccountController.userModel.FirstName
            
            @WebApplication1.Controllers.AccountController.userModel.LastName
        </div>

        <div class="details">
            <strong>Email:</strong>
            @* @Html.Label(@user.Email)*@
            @WebApplication1.Controllers.AccountController.userModel.Email
        </div>

        <div class="details">
            <strong> Password:</strong>
            @*   @Html.Label(user.Password)*@
            @WebApplication1.Controllers.AccountController.userModel.Password
        </div>

        <div class="details">
            <strong>Food preferences:</strong>
            @*  @Html.Label(user.FoodPreferance)*@
            @WebApplication1.Controllers.AccountController.userModel.FoodPreferance
        </div>

        <div class="edit">
            <p>Edit your account: @Html.ActionLink("Edit", "Edit", "Home", null, null) </p>

        </div>

    </div>


</body>
</html>